@import './base/reset.css';
@import './base/fonts.css';
@import './base/colors.css';
@import './components.css';

html {
  font-size: 16px;
}

body {
  top: 0 !important;
  background-color: #000;
}

/* ········ 풀페이지 커스텀 ······· */
.fp-wrap {
  position: relative;
}

/* ······· COMMON CLASS ······· */
.visually_hidden {
  display: none;
}

.lg_hidden {
  display : none;
}

.upper {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.blind,
.sound-only {
  position: absolute;
  left: -9999em;
}

#skip a {
  position: fixed;
  top: -10rem;
  left: 0;
  z-index: 100;
  width: 100%;
  line-height: 4em;
  text-align: center;
  background-color: #fff;
}

#skip a:focus {
  top: 0;
}

.sec_home,
.main_text {
  height: 100vh;
}

section.back_img,
div.back_img {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* ·········· LOADING ··········· */
.loading_bg {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  z-index: 10;
  pointer-events: none;
}


/* ·········· MAIN ············ */
.main_back::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('../assets/images/main_back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.video_box {
  position: relative;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60%;
}

.main_contents {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} 

.main_title h1 {
  font-family: 'Segoe Black Italic';
  font-size: 3.3em;
  font-size: clamp(32px, 8vw, 96px);
  letter-spacing: -0.64px;
  line-height: 1.25;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}



/* ········ DDG_VALUE ········· */
.we_are_title {
  height: 24vh;
  background: url(../assets/images/we_are/we_are_title_pc.png) no-repeat center / contain;
}

.we_are_desc {
  margin-top: 30px;
}



/* ······· DDG_CULTURE ········ */
.ddg_value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ddg_value_wrap {
  position: relative;
  bottom: -40px;
  max-width: 1034px;
  width: 100%;
  height: 100%;
  max-height: 536px;
  color: var(--txt-primary);
}

.ddg_value_list {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ddg_value_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.ddg_value_item .ddg_value_txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 400px;
}

.ddg_value .section_title {
  line-height: 80px;
}

.ddg_value_item .sub_txt {
  max-width: 390px;
  padding-bottom: 50px;
}

.ddg_value_img {
  height: auto;
}

.ddg_value_img img {
  width: 100%;  
  height: 100%;
  object-fit: contain;
}

/* ·········· FOOTER ·········· */
.global_footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.global_footer > div {
  display: flex;
}

/* ·········· CONTACT ·········· */
.contact {
  position: relative;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
  color: var(--txt-sub);
  background-image: url('../assets/images/contact_back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact > div {
  position: relative;
  z-index: 10;
}

.contact::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
}

.contact .subtitle {
  margin-top: 12px;
  color: rgba(193, 219, 255, 0.90);
}

.contact_list {
  display: flex;
  gap: 80px;
  margin: 40px auto 0;
  color: rgba(193, 219, 255, 0.80);;
}

.contact_list > div:first-child {
  display: flex;
  justify-content: space-between;
}

.contact_item {
  display: flex;
  font-size: 16px;
}

.contact_item p:first-child {
  display: flex;
  gap: 10px;
  width: 120px;
  text-align: left;
  font-weight: 700;
}


/* ·········· OUR PARTNERS ·········· */
.our_partners {
  display: flex;
  flex-direction: column;
  height: 360px;
  background-color: #060022;
}

.our_partners > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner_wrap {
  flex: 1;
  width: 100%;
  border-bottom: 1px solid rgba(174, 200, 237, .2);
  overflow: hidden;
}

.partner_list {
  display: flex;
  gap: 70px;
}

.partner_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  height: 50px;
}

.partner_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  opacity: .6;
}

@media screen and (max-width: 1280px) {
  .lg_only {
    display: none;
  }

  .lg_hidden {
    display: block;
  }

  .main_back::after {
    content: '';
    background-image: none;
  }

  .main_contents {
    padding-left: 20px;
  }

  .we_are_title {
    height: 32vh;
    background: url(../assets/images/we_are/we_are_title_mo.png) no-repeat center / contain;
  }


  /* ········ DDG_CULTURE ········· */
  .ddg_value_wrap {
    padding: 0 40px;
  }

  .ddg_value_item .ddg_value_txt {
    position: relative;
    top: -40px;
    gap: 20px;
  }

  .ddg_value .section_title {
    line-height: 1em;
  }

  .ddg_value_item .sub_txt {
    padding-bottom: 0px;
  }

  .ddg_value_btn_list {
    bottom: 80px;
    left: 40px;
  }

  /* ·········· HIRING ·········· */
  .hiring_content {
    width: 100%;
    background-image: url('../assets/images/hiring_mo.png');
  }

  .hiring_list {
    gap: 30px;
  }

  /* ·········· OUR PARTNERS ·········· */
  .our_partners {
    height: 300px;
  }

  .partner_list {
    gap: 60px;
  }
}

@media (max-width: 1024px) {
  .hiring_item:nth-child(1)  { grid-column: span 7; }

  .hiring_item:nth-child(2),
  .hiring_item:nth-child(3)  { grid-column: span 3; }

  .hiring_item:nth-child(4),
  .hiring_item:nth-child(5)  { grid-column: span 3; }

  .hiring_item:nth-child(6),
  .hiring_item:nth-child(7),
  .hiring_item:nth-child(8)  { grid-column: span 2; }

  .hiring_item:nth-child(9),
  .hiring_item:nth-child(10) { grid-column: span 3; }

  .hiring_item:nth-child(11),
  .hiring_item:nth-child(12) { grid-column: span 3; }

  .hiring_item:nth-child(13) { grid-column: span 7; }

  /* ·········· OUR PARTNERS ·········· */
  .our_partners {
    height: 280px;
  }
}


@media screen and (max-width: 768px) {
  /* ········ DDG_VALUE ········· */
  .ddg_value_wrap {
    bottom: 0;
    max-height: 100%;
  }

  .ddg_value_list {
    max-width: 90%;
    margin: 0 auto;
  }

  .ddg_value_item {
    flex-direction: column;
    gap: 48px;
  }

  .ddg_value_item .ddg_value_txt {
    order: 2;
    width: 100%;
    margin-top: 0;
  }

  .ddg_value .section_title {
    line-height: 1em;
  }

  .ddg_value_item .sub_txt {
    padding-bottom: 0;
  }

  .ddg_value_img {
    height: auto;
  }

  .ddg_value_btn {
    position: absolute;
    width: 100%;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .ddg_value_btn_list {
    bottom: 10%;
    left: 0;
  }

  .ddg_value_btn_list p {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid var(--txt-primary);
  }



  .contact_list {
    flex-direction: column;
    gap: 20px;
  }
  
  .global_footer .contact {
    padding: 0 40px;
  }
  /* ·········· OUR PARTNERS ·········· */
  .our_partners {
    height: 200px;
  }

  .partner_list {
    gap: 40px;
  }
}

@media screen and (max-width: 420px) {
  /* ········ DDG_VALUE ········· */
  .ddg_value_wrap {
    padding: 0 30px;
  }

  .ddg_value_list {
    max-width: 100%;
    margin: 0 auto;
  }

  .ddg_value_item {
    flex-direction: column;
    gap: 10px;
  }

  .ddg_value_item .ddg_value_txt {
    width: 100%;
    top: 0;
    margin-top: 0;
  }

  .ddg_value_img {
    width: 80%;
  }

  .ddg_value_btn {
    max-width: 86%;
  }

  .ddg_value_btn_list {
    bottom: 35px;
    left: 0;
  }

  .ddg_value_btn_list li {
    width: 32px;
    height: 32px;
  }

  .ddg_value_btn_list li img {
    width: 14px;
    height: 14px;
  }
}

