@import './base/reset.css';
@import './base/fonts.css';
@import './base/colors.css';
@import './components.css';

section.back_img,
div.back_img {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/images/back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* ········ DDG_VALUE ········· */
.ddg_value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ddg_value_wrap {
  position: relative;
  bottom: -40px;
  max-width: 1034px;
  width: 100%;
  height: 100%;
  max-height: 536px;
  color: var(--txt-primary);
}

.ddg_value_list {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ddg_value_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  visibility: hidden;
  width: 100%;
  opacity: 0;
  filter: blur(10px);
  transition: 
    visibility 0s linear 400ms, 
    opacity 400ms ease-in-out,
    filter 400ms ease-in-out,
    transform 400ms ease-in-out;
}

.ddg_value_item.is_active {
  visibility: visible;
  opacity: 1;
  filter: blur(0);
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 300ms;
}

.ddg_value_item .ddg_value_txt {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ddg_value .section_title {
  line-height: 80px;
}

.ddg_value_item .sub_txt {
  max-width: 390px;
  padding-bottom: 50px;
  font-size: 1.6em;
}

.ddg_value_img {
  height: 540px;
}

.ddg_value_img img {
  width: 100%;  
  height: 100%;
  object-fit: contain;
}

.ddg_value_btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.ddg_value_btn_list {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 12px;
}

.ddg_value_btn_list li {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
  border: 1px solid var(--txt-primary);
}

.ddg_value_btn_list li.is_active {
  border: 4px solid #a6b4fa;
}

.ddg_value_btn_list li.is_active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; 
  box-shadow: 0 0 12px 6px rgba(232, 237, 255, 0.8);
}

.ddg_value_btn_list li img {
  width: 18px;
  height: 18px;
}

.ddg_value_btn_list li img.d {
  margin-right: -2px;
}

.ddg_value_btn_list li img.g {
  margin-left: -2px;
}

/* ·········· HIRING ·········· */
.hiring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.hiring_content {
  width: 90%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('../assets/images/hiring.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hiring:hover .arrow {
  animation: arrow-bounce 1s ease-in-out infinite;
}

@keyframes arrow-bounce {
  0%, 100% { transform: translateX(0); }
  50%      { transform: translateX(5px); }
}

.hiring {
  gap: 60px;
  padding: 0 80px;
}

.hiring_list {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.hiring_item {
  white-space: nowrap; 
  color: #E4EAFF;
  font-size: clamp(18px, 3vw, 36px);
  font-weight: 800;
  transition: font-size 300ms ease-in-out, font-weight 300ms ease-in-out;
}

.hiring_item:nth-child(1)  { grid-column: 1  / span 3; }
.hiring_item:nth-child(2)  { grid-column: 4  / span 3; }
.hiring_item:nth-child(3)  { grid-column: 7  / span 3; }
.hiring_item:nth-child(4)  { grid-column: 10 / span 3; }

.hiring_item:nth-child(5)  { grid-column: 1  / span 2; }
.hiring_item:nth-child(6)  { grid-column: 3  / span 2; }
.hiring_item:nth-child(7)  { grid-column: 5  / span 2; }
.hiring_item:nth-child(8)  { grid-column: 7  / span 2; }
.hiring_item:nth-child(9)  { grid-column: 9  / span 2; }

.hiring_item:nth-child(10) { grid-column: 1  / span 3; }
.hiring_item:nth-child(11) { grid-column: 4  / span 3; }
.hiring_item:nth-child(12) { grid-column: 7  / span 3; }
.hiring_item:nth-child(13) { grid-column: 10 / span 3; }

.hiring_item.hash {
  font-size: clamp(22px, 3vw, 40px);
  font-weight: 900;
  background: linear-gradient(101deg, #00F6FF 3.16%, #0023FF 114.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hiring_item span {
  display: none;
}


/* ·········· FOOTER ·········· */
.global_footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.global_footer > div {
  display: flex;
}

/* ·········· CONTACT ·········· */
.contact {
  position: relative;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
  color: var(--txt-sub);
  background-image: url('../assets/images/contact_back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact > div {
  position: relative;
  z-index: 10;
}

.contact::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
}

.contact .subtitle {
  margin-top: 12px;
  color: rgba(193, 219, 255, 0.90);
}

.contact_list {
  display: flex;
  gap: 80px;
  margin: 40px auto 0;
  color: rgba(193, 219, 255, 0.80);;
}

.contact_list > div:first-child {
  display: flex;
  justify-content: space-between;
}

.contact_item {
  display: flex;
  font-size: 16px;
}

.contact_item p:first-child {
  display: flex;
  gap: 10px;
  width: 120px;
  text-align: left;
  font-weight: 700;
}


/* ·········· OUR PARTNERS ·········· */
.our_partners {
  display: flex;
  flex-direction: column;
  height: 360px;
  background-color: #060022;
}

.our_partners > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner_wrap {
  flex: 1;
  width: 100%;
  border-bottom: 1px solid rgba(174, 200, 237, .2);
  overflow: hidden;
}

.partner_list {
  display: flex;
  gap: 70px;
}

.partner_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  height: 50px;
}

.partner_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  /* ········ DDG_VALUE ········· */
  .ddg_value_wrap {
    padding: 0 40px;
  }

  .ddg_value_item .ddg_value_txt {
    position: relative;
    top: -40px;
    gap: 20px;
  }

  .ddg_value .section_title {
    line-height: 1em;
  }

  .ddg_value_item .sub_txt {
    padding-bottom: 0px;
  }

  .ddg_value_btn_list {
    bottom: 80px;
    left: 40px;
  }

  /* ·········· HIRING ·········· */
  .hiring_content {
    width: 100%;
    background-image: url('../assets/images/hiring_mo.png');
  }

  .hiring_list {
    gap: 30px;
  }

  /* ·········· OUR PARTNERS ·········· */
  .our_partners {
    height: 300px;
  }

  .partner_list {
    gap: 60px;
  }
}

@media (max-width: 1024px) {
  .hiring_item:nth-child(1)  { grid-column: span 7; }

  .hiring_item:nth-child(2),
  .hiring_item:nth-child(3)  { grid-column: span 3; }

  .hiring_item:nth-child(4),
  .hiring_item:nth-child(5)  { grid-column: span 3; }

  .hiring_item:nth-child(6),
  .hiring_item:nth-child(7),
  .hiring_item:nth-child(8)  { grid-column: span 2; }

  .hiring_item:nth-child(9),
  .hiring_item:nth-child(10) { grid-column: span 3; }

  .hiring_item:nth-child(11),
  .hiring_item:nth-child(12) { grid-column: span 3; }

  .hiring_item:nth-child(13) { grid-column: span 7; }

  /* ·········· OUR PARTNERS ·········· */
  .our_partners {
    height: 280px;
  }
}


@media screen and (max-width: 768px) {
  /* ········ DDG_VALUE ········· */
  .ddg_value_wrap {
    bottom: 0;
    max-height: 100%;
  }

  .ddg_value_list {
    max-width: 90%;
    margin: 0 auto;
  }

  .ddg_value_item {
    flex-direction: column;
    gap: 48px;
  }

  .ddg_value_item .ddg_value_txt {
    order: 2;
    width: 100%;
    margin-top: 0;
  }

  .ddg_value .section_title {
    line-height: 1em;
  }

  .ddg_value_item .sub_txt {
    padding-bottom: 0;
  }

  .ddg_value_img {
    height: auto;
  }

  .ddg_value_btn {
    position: absolute;
    width: 100%;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .ddg_value_btn_list {
    bottom: 10%;
    left: 0;
  }

  .ddg_value_btn_list p {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid var(--txt-primary);
  }



  .contact_list {
    flex-direction: column;
    gap: 20px;
  }
  
  .global_footer .contact {
    padding: 0 40px;
  }
  /* ·········· OUR PARTNERS ·········· */
  .our_partners {
    height: 200px;
  }

  .partner_list {
    gap: 40px;
  }
}

@media screen and (max-width: 420px) {
  /* ········ DDG_VALUE ········· */
  .ddg_value_wrap {
    padding: 0 30px;
  }

  .ddg_value_list {
    max-width: 100%;
    margin: 0 auto;
  }

  .ddg_value_item {
    flex-direction: column;
    gap: 10px;
  }

  .ddg_value_item .ddg_value_txt {
    width: 100%;
    top: 0;
    margin-top: 0;
  }

  .ddg_value_img {
    width: 80%;
  }

  .ddg_value_btn {
    max-width: 86%;
  }

  .ddg_value_btn_list {
    bottom: 35px;
    left: 0;
  }

  .ddg_value_btn_list li {
    width: 32px;
    height: 32px;
  }

  .ddg_value_btn_list li img {
    width: 14px;
    height: 14px;
  }
}

